@font-face {
    font-family: "Kalnia";
    src: url(/assets/kalnia.ttf);
}
@font-face {
    font-family: "Nohemi";
    src: url(/assets/nohemi.ttf);
}
@keyframes slideInFromBottom {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideInFromRight {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
html, body {
    width: 100vw;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: radial-gradient(at right bottom, #010101, #303030);
}
body {
    background: linear-gradient(308deg, black, transparent);
    cursor: none;
}
#first {
    width: 100vw;
    height: 100vh;
}
#main-title {
    flex-direction: column;
    margin: 0;
    font-family: Kalnia;
    font-weight: 700;
    color: white;
    line-height: calc(100% - 3.75rem);
    font-size: 14vw;
    letter-spacing: -9px;
    position: absolute;
    bottom: 0;
    mix-blend-mode: soft-light;
    user-select: none;
    pointer-events: none;
}
#main-title, .line {
    display: flex;
}
.char, #subtitle .line, .link {
    opacity: 0;
}
.char, #subtitle .line {
    transform: translateY(4rem);
}
.link {
    transform: translateX(4rem);
}
.line:first-of-type .char:nth-child(1) {
    animation: slideInFromBottom 500ms ease-out forwards;
}
.line:first-of-type .char:nth-child(2) {
    animation: slideInFromBottom 500ms 25ms ease-out forwards;
}
.line:first-of-type .char:nth-child(3) {
    animation: slideInFromBottom 500ms 50ms ease-out forwards;
}
.line:first-of-type .char:nth-child(4) {
    animation: slideInFromBottom 500ms 75ms ease-out forwards;
}
.line:first-of-type .char:nth-child(5) {
    animation: slideInFromBottom 500ms 100ms ease-out forwards;
}
.line:first-of-type .char:nth-child(6) {
    animation: slideInFromBottom 500ms 125ms ease-out forwards;
}
.line:first-of-type .char:nth-child(7) {
    animation: slideInFromBottom 500ms 150ms ease-out forwards;
}
.line:first-of-type .char:nth-child(8) {
    animation: slideInFromBottom 500ms 175ms ease-out forwards;
}
.line:first-of-type .char:nth-child(9) {
    animation: slideInFromBottom 500ms 200ms ease-out forwards;
}
.line:nth-of-type(2) .char:nth-child(1) {
    animation: slideInFromBottom 500ms 225ms ease-out forwards;
}
.line:nth-of-type(2) .char:nth-child(2) {
    animation: slideInFromBottom 500ms 250ms ease-out forwards;
}
.line:nth-of-type(2) .char:nth-child(3) {
    animation: slideInFromBottom 500ms 275ms ease-out forwards;
}
.line:nth-of-type(2) .char:nth-child(4) {
    animation: slideInFromBottom 500ms 300ms ease-out forwards;
}
#subtitle .line:nth-child(1) {
    animation: slideInFromBottom 500ms 1.3s ease-out forwards;
}
#subtitle .line:nth-child(2) {
    animation: slideInFromBottom 500ms 1.4s ease-out forwards;
}
#subtitle .line:nth-child(3) {
    animation: slideInFromBottom 500ms 1.5s ease-out forwards;
}
#subtitle .line:nth-child(4) {
    animation: slideInFromBottom 500ms 1.6s ease-out forwards;
}
#links .link:nth-child(1) {
    animation: slideInFromRight 500ms 2.6s ease-out forwards;
}
#links .link:nth-child(2) {
    animation: slideInFromRight 500ms 2.7s ease-out forwards;
}
#links .link:nth-child(3) {
    animation: slideInFromRight 500ms 2.8s ease-out forwards;
}
#links .link:nth-child(4) {
    animation: slideInFromRight 500ms 2.9s ease-out forwards;
}
#links .link:nth-child(5) {
    animation: slideInFromRight 500ms 3s ease-out forwards;
}
#subtitle {
    margin: 0;
    font-family: Nohemi;
    font-weight: 400;
    color: white;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 3rem;
    width: 38rem;
    mix-blend-mode: soft-light;
}
.hidden {
    display: none;
}
#subtitle .line:last-of-type {
    margin-top: 2rem;
}
#dot {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0.25px solid rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: transform 250ms ease-in-out;
    pointer-events: none;
    z-index: 999;
}
body:hover #dot {
    opacity: 1;
}
#links {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 25vw;
}
#links .link {
    font-family: 'Nohemi';
    font-weight: 400;
    font-size: 3.5rem;
    cursor: none;
    background: rgba(100, 100, 100, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 1rem;
}
#links .link:not(:last-of-type) {
    margin-bottom: 1rem;
}
#links a {
    color: white;
    text-decoration: none;
    margin-bottom: -12px;
    transition: 500ms font-weight;
    cursor: none;
}
#links a:hover {
    font-weight: 900;
}
.social-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
} 
.new-tab-icon {
    padding: 6px 0;
}
#arrow {
    mix-blend-mode: difference;
}